.login{
	height: 800px;
	padding-top: 10%;
	background-image: url('/tomato_wood.jpeg');
	background-size: cover;

	.form{
		margin: 0 auto;
		padding: 25px 25px;
		text-align: center;
		width: 600px;
		background: rgba(255,255,255,0.6);
		border-radius: 20px;
		font-family: 'Oswald';

		h2{
			font-size: 30pt;
			color: #6FA60D;
		}

		a{
			color: #DF5E30;
			font-size: 12pt;
		}

		.field{
			margin-bottom: 15px;

			label{
				font-size: 12pt;
			}

			#user_email{
				text-align: center;
				width: 300px;
				height: 40px;
				font-size: 15pt;
				border-radius: 5px;
			} 

			#user_password{
				text-align: center;
				width: 300px;
				height: 40px;
				font-size: 15pt;
				border-radius: 5px;
			}

			#user_password_confirmation{
				text-align: center;
				width: 300px;
				height: 40px;
				font-size: 15pt;
				border-radius: 5px;
			}
		}

		.actions{
			input{
				height: 35px;
				width: 100px;
				background: none;
				border: 2px solid #6FA60D;
			}

			input:hover{
				background: #DF5E30;
			}
		}
	}	
}