// Place all the styles related to the favorites controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.top{
	height: 250px;
	background-image: url('/food_prep.jpg');
	background-size: cover;
}

.recipebox{
	
	.container{
		background-color: white;
		border-radius: 10px;

		.favorites{
			.image{
				background-color: rgba(0,0,0,0.2);
				margin-bottom: 10px;

				img{
					width: 100%;
				}
			}
		}

		.contributions{


			.list{
				background-color: rgba(0,0,0,0.2);
				margin-bottom: 10px;

				img{
					width: 100%;
				}
			}
		}
	}
}