// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{

	.banner{
		width: 100%;
		height: 800px;
		content: ' ';
	    display: block;
	    position: relative;
	    left: 0;
	    top: 0;
	    background-image: url('/food_prep.jpg');
	    background-size: cover;
	    background-attachment: fixed;
	}

	.header{
		margin-top: -40px;
		position: fixed;
		z-index: 2;

		ul{
			padding-right: 15px;
			text-align: right;

			li{
				padding-top: 10px;
				list-style: none;

				a{
					font-family: 'Oswald';
					color: #6FA60D;
					text-decoration: none;
				}

				a:hover{
					color: #DF5E30;
				}
			}
		}
	}

	.layer{
		height: 800px;
		width: 100%;
		position: absolute;
		top: 10px;
		z-index: 1;

		h1{
			position: fixed;
			margin-left: 50px;
			font-family: 'Oswald';
			font-size: 40pt;
			color: #6FA60D;
		}

		h3{
			padding-top: 85px;
			padding-left: 50px;
			font-family: 'Oswald';
			font-size: 22pt;
			color: #DF5E30;
		}

		.link{
			width: 600px;
			margin: 300px auto;

			p{
				margin: 50px auto;
				width: 250px;
				height: 50px;
				text-align: center;
				color: white;
				border: 3px solid #6FA60D;
				border-radius: 15px;
				font-family: 'Scada';
				font-size: 20pt;
				padding-top: 3px;

				a{
					text-decoration: none;
					font-family: 'Oswald';
					color: white;
				}
			}

			p:hover{
				background-color: #6FA60D;
				border: 2px solid black;
				a{
					color: black;
				}
			}
		}
	}

	.about{
		width: 100%;

		.cook{
			margin: 175px 300px;
			height: 350px;

			.info{
				position: relative;
				font-family: 'Oswald';
				font-size: 40pt;

			}

			.look{
				position: absolute;
				right: 20%;
				width: 250px;

				a{
					font-family: 'Oswald';
					font-size: 30px;
					color: #DF5E30;
				}
			}
		}
	}

	.boxes{
		.row{
			height: 400px;
			.left{
				height: 100%;
				background-color: #DF5E30;

				.blurb{
					position: absolute;
					height: 100%;

					h2{
						text-align: center;
						height: 90%;
						border-top: 5px solid black;
						border-bottom: 5px solid black;
						font-family: 'Oswald';
						padding-top: 15%;
						line-height: 60px;
						margin-right: 15px;
					}
				}

				.box{
					background-color: #DF5E30;
					position: relative;
					top: 70%;
					left: 65%;
					width: 250px;

					a{
						font-family: 'Oswald';
						font-size: 18pt;
						color: white;
					}
				}
			}
			.right{
				height: 100%;
				background-color: #6FA60D;

				.blurb{
					position: absolute;
					height: 100%;

					h2{
						text-align: center;
						height: 90%;
						border-top: 5px solid black;
						border-bottom: 5px solid black;
						font-family: 'Oswald';
						padding-top: 15%;
						line-height: 60px;
						margin-right: 15px;
					}
				}

				.box{
					position: relative;
					top: 70%;
					left: 65%;
					width: 250px;

					a{
						font-family: 'Oswald';
						font-size: 18pt;
						color: white;
					}
				}
			}
		}
	}

	.footer{
		background-image: url('/food_prep.jpg');
	    background-attachment: fixed;

		.container-fluid{
			.row{
				height: 150px;

				.col-md-6{
					height: 100%;
					text-align: center;
					i{
						color: white;
						margin: 55px 50px;
					}
					i:hover{
						color: #6FA60D;
					}
				}
			}
		}
	}
}
