// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ## INDEX ##

.community{
	font-family: 'Oswald';
	.community-title{
		height: 75px;

		h1{
			position: absolute;
			color: #DF5E30;
		}
	}
	.all-profiles{

		.person{
			float: left;
			margin: 15px;
			text-align: center;
			display: inline-block;
			width: 400px;
			height: 400px;

			a{
				top: 0px;
				color: #6FA60D;
				text-decoration: none;
			}

			a:hover{
				color: #DF5E30;
			}

			img{
				width: 100%;
			}

			p{
				font-size: 15pt;
			}
		}
	}
}


// ## SHOW ##

.profile-top{
	height: 250px;
	background-image: url('/food_prep.jpg');
	background-size: cover;
}

.show-profile{
	font-family: 'Oswald';
	background: white;

	.personal{
		width: 900px;
		margin: 50px auto;
		padding: 25px;

		.profile{
			text-align: left;

			h1{
				text-align: center;
				color: #6FA60D;
			}

			h2{
				
			}

			li{
				list-style: none;
			}
			p{
				font-size: 14pt;
			}
		}

		.profile-recipes{
			margin-top: 50px;

			.image{
				margin-bottom: 15px;

				img{
					height: 150px;
				}
			}

			.recipe-info{

				a{
					text-decoration: none;
					color: #6FA60D;
				}

				a:hover{
					color: blue;
				}

				h4{
					color: #424242;
				}

				.fav{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 190px;
					bottom: 55px;

					a{
						font-family: sans-serif;
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 25pt;
						background-color: #DF5E30;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
					}

					p{
						width: 250px;
						font-family: 'Oswald';
						font-size: 15pt;
						position: relative;
						left: 60px;
						top: -40px;
						color: #6FA60D;
						visibility: hidden;
					}
				}

				.fav:hover{
					p{
						visibility: visible;
					}
				}

				.added{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 190px;
					bottom: 55px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}

					h2{
						width: 250px;
						font-family: 'Oswald';
						font-size: 15pt;
						color: #6FA60D;
						position: relative;
						top: -20px;
						left: -55px;
					}
				}

				.saved{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 190px;
					bottom: 55px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}
				}

				p{
					a{
						color: blue;
					}
				}
			}
		}
	}
}

// ## EDIT ##

.edit-profile{
	height: 800px;
	padding-top: 10%;
	background-image: url('/tomato_wood.jpeg');
	background-size: cover;

	.profile-form{
		margin: 0 auto;
		padding: 25px 25px;
		text-align: center;
		width: 600px;
		background: rgba(255,255,255,0.6);
		border-radius: 20px;
		font-family: 'Oswald';

		h2{
			font-size: 30pt;
			color: #6FA60D;
		}

		a{
			color: #DF5E30;
			font-size: 12pt;
		}

		#profile_avatar{
			margin: 20px auto;
		}

		.field{
			margin-bottom: 15px;

			label{
				font-size: 12pt;
			}

			#user_email{
				text-align: center;
				width: 300px;
				height: 40px;
				font-size: 15pt;
				border-radius: 5px;
			} 

			#user_password{
				text-align: center;
				width: 300px;
				height: 40px;
				font-size: 15pt;
				border-radius: 5px;
			}

			#user_password_confirmation{
				text-align: center;
				width: 300px;
				height: 40px;
				font-size: 15pt;
				border-radius: 5px;
			}
		}

		.actions{
			input{
				height: 35px;
				width: 100px;
				background: none;
				border: 2px solid #6FA60D;
			}

			input:hover{
				background: #DF5E30;
			}
		}
	}	
}