// Place all the styles related to the profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// ## INDEX ##

.community{
	background-color: #6FA60D;
}

// ## SHOW ##

.show{

	background-color: #6FA60D;

	.content{

		background-color: white;
		width: 900px;
		margin: 100px auto;
		padding: 25px;
		border-radius: 5px;

		.profile{
			text-align: left;

			h1{
				text-align: center;
			}

			h2{
				color: #6FA60D;
			}

			li{
				list-style: none;
			}
			p{
				font-size: 14pt;
			}
		}

		
	}
}