// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_background{
	height: 100%;
	background-image: url('/veg_background.jpg');
	background-size: cover;

	.search{
		height: 300px;
		padding-top: 80px;
		text-align: center;
		background-color: rgba(0,0,0,0.7);

		h1{
			font-family: 'Scada';
			color: white;
		}

		input{
			height: 40px;
			border-radius: 25px;
			font-size: 15pt;
			text-align: center;
		}

		form{
			margin-top: 20px;
			height: 50px;

			.sub_form{

				height: 40px;
				width: 40px;
				background-color: #6FA60D;
				border: none;
				font-size: 14pt;
				font-weight: bold;
			}

			.sub_form:hover{
				border: 2px solid black;
			}
		}
	}
}

.recently_added{

	background-color: white;
	width: 900px;
	margin: 100px auto;
	padding: 25px;
	border-radius: 5px;

	.container{
		width: 100%;
		margin-top: 50px;

		.row{

			display: block;
			height: 200px;

			.info{

				a{
					text-decoration: none;
					color: #6FA60D;
				}

				a:hover{
					color: blue;
				}

				h4{
					color: #424242;
				}

				.fav{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 245px;
					bottom: 10px;

					a{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 20pt;
						background-color: #DF5E30;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 4px;
					}
				}

				.added{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 245px;
					bottom: 10px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}
				}

				.saved{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 245px;
					bottom: 10px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}
				}

				p{
					a{
						color: blue;
					}
				}
			}

			.image{
				text-align: center;
				padding-top: 15px;

				img{
					margin-right: 20px;
					height: 150px;
				}
			}
		}
	}

	.clear{
		clear: both;
	}
}

.content{

	background-color: white;
	width: 900px;
	margin: 100px auto;
	padding: 25px;
	border-radius: 5px;

	.container{
		width: 100%;
		margin-top: 50px;

		.row{

			display: block;
			height: 200px;

			.info{

				a{
					text-decoration: none;
					color: #6FA60D;
				}

				a:hover{
					color: blue;
				}

				h4{
					color: #424242;
				}

				.fav{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 245px;
					bottom: 10px;

					a{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 20pt;
						background-color: #DF5E30;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 4px;
					}
				}

				.added{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 245px;
					bottom: 10px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}
				}

				.saved{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 245px;
					bottom: 10px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}
				}

				p{
					a{
						color: blue;
					}
				}
			}

			.image{
				text-align: center;
				padding-top: 15px;

				img{
					margin-right: 20px;
					height: 150px;
				}
			}
		}
	}

	.clear{
		clear: both;
	}
}

// ## SHOW ##


.show{

	background-color: #6FA60D;
	padding: 50px;

	.user_recipe{

		border-radius: 10px;
		background-color: white;
		width: 900px;
		margin: 0 auto;
		text-align: center;
		padding: 25px;

		img{
			width: 500px;
			border-radius: 5px;
		}

		em{
			color: #6FA60D;
		}

	}
}

// ## CREATE ##

.new{
	background-color: #6FA60D;
	text-align: center;
}


