// Place all the styles related to the recipes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.search_background{
	height: 100%;
	background-image: url('/veg_background.jpg');
	background-size: cover;
	

	.search{
		height: 300px;
		padding-top: 80px;
		text-align: center;
		background-color: rgba(0,0,0,0.7);

		h1{
			font-family: 'Oswald';
			color: white;
		}

		input{
			height: 40px;
			border-radius: 25px;
			font-size: 15pt;
			text-align: center;
		}

		form{
			margin-top: 20px;
			height: 50px;

			.sub_form{

				height: 40px;
				width: 40px;
				background-color: #6FA60D;
				border: none;
				font-size: 14pt;
				font-weight: bold;
			}

			.sub_form:hover{
				border: 2px solid black;
			}
		}
	}
}

.recent{
	position: absolute;
	z-index: 1;
	margin-top: 0;
	padding-left: 25px;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #DF5E30;
	font-family: 'Oswald';
	background: rgba(0,0,0,0.6);
	width: 100%;
}

.recently_added{

	background-color: black;
	width: 100%;
	overflow-x: scroll;

	.user-results{
		width: 4035px;

		.main{

			display: inline-block;
			width: 100%;
			
			.image{
				width: 500px;
				height: 400px;
				background-size: cover;

				a{
					text-decoration: none;
					color: #6FA60D;
				}

				a:hover{
					color: blue;
				}

				h3{
					width: 500px;
					height: 150px;
					margin-left: -15px;
					padding-right: 200px;
					padding-top: 90px;
					padding-left: 10px;
					position: relative;
					top: 230px;
					left: 0px;
					background: -webkit-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
					background: -o-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1)); 
					background: -moz-linear-gradient(rgba(0,0,0,0),rgba(0,0,0,1));
					background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
				}

				h4{
					color: #424242;
				}

				.fav{
					width: 50px;
					height: 50px;
					position: absolute;
					left: 390px;
					bottom: 45px;

					a{
						font-family: sans-serif;
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 25pt;
						background-color: #DF5E30;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
					}

					p{
						width: 250px;
						font-family: 'Oswald';
						font-size: 15pt;
						position: relative;
						left: -45px;
						top: 5px;
						color: #6FA60D;
						visibility: hidden;
					}
				}

				.fav:hover{
					p{
						visibility: visible;
					}
				}

				.added{
					width: 225px;
					height: 50px;
					position: absolute;
					left: 390px;
					bottom: 45px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}

					h2{
						width: 250px;
						font-family: 'Oswald';
						font-size: 15pt;
						color: #6FA60D;
						position: relative;
						top: -20px;
						left: -55px;
					}
				}

				.saved{
					width: 50px;
					height: 50px;
					position: absolute;
					left: 390px;
					bottom: 45px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}		
				}

				p{
					a{
						color: blue;
					}
				}
			}
		}
	}
}

.clear{
	clear: both;
}

.content{

	background-color: white;
	width: 1000px;
	padding: 25px;
	margin-left: 275px;

	.yum{
		width: 400px;
		text-align: center;

		p{
			font-size: 12pt;
			display: inline-block;
		}

		img{
			width: 100px;
		}
	}



	.search-results{
		width: 100%;
		margin-top: 50px;

		.main{
			display: block;
			height: 250px;

			.recipe-info{

				a{
					text-decoration: none;
					color: #6FA60D;
				}

				a:hover{
					color: blue;
				}

				h4{
					color: #424242;
				}

				.fav{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 490px;
					bottom: -55px;

					a{
						font-family: sans-serif;
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 25pt;
						background-color: #DF5E30;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
					}

					p{
						width: 250px;
						font-family: 'Oswald';
						font-size: 15pt;
						position: relative;
						left: 60px;
						top: -40px;
						color: #6FA60D;
						visibility: hidden;
					}
				}

				.fav:hover{
					p{
						visibility: visible;
					}
				}

				.added{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 490px;
					bottom: -55px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}

					h2{
						width: 250px;
						font-family: 'Oswald';
						font-size: 15pt;
						color: #6FA60D;
						position: relative;
						top: -20px;
						left: -55px;
					}
				}

				.saved{
					width: 50px;
					height: 50px;
					position: absolute;
					right: 490px;
					bottom: -55px;

					p{
						text-decoration: none;
						text-align: center;
						color: white;
						font-size: 13pt;
						background-color: #6FA60D;
						display: inline-block;
						width: 50px;
						height: 50px;
						border-radius: 25px;
						padding-top: 10px;
					}
				}

				p{
					a{
						color: blue;
					}
				}
			}

			.image{
				text-align: center;
				padding-top: 15px;

				img{
					height: 225px;
				}
			}
		}

		a{
			font-family: 'Oswald';
			font-size: 15pt;
		}
	}

	.clear{
		clear: both;
	}
}

// ## SHOW ##


.show{

	background-image: url('/food_prep.jpg');
	padding: 50px;
	font-family: 'Oswald';

	.user_recipe{

		border-radius: 10px;
		background-color: rgba(255,255,255,0.6);
		width: 900px;
		margin: 150px auto;
		text-align: center;
		padding: 25px;

		h1{
			color: #6FA60D;
		}

		img{
			width: 500px;
			border-radius: 5px;
		}

		em{
			color: #6FA60D;
		}

		a{
			color: #DF5E30;
			font-size: 15pt;
			margin: 0 20px;
		}

		p{
			font-size: 12pt;
		}

	}
}

// ## CREATE ##

.new{
	background-image: url('/red_onion_parsnip.jpg');
	background-size: cover;
	text-align: center;
	padding: 50px 50px;

	.recipe-form{
		margin: 0 auto;
		padding: 25px 25px;
		text-align: center;
		width: 800px;
		background: rgba(255,255,255,0.6);
		border-radius: 20px;
		font-family: 'Oswald';

		.new_recipe{
			.field{
				input{
					width: 300px;
					height: 40px;
					font-size: 15pt;
					text-align: center;
				}

				textarea{
					width: 500px;
					height: 160px;
				}

				#recipe_avatar{
					margin: 10px auto;
					font-size: 12pt;
				}
			}

			.action{
				input{
					height: 40px;
					width: 150px;
					font-size: 15pt;
				}
			}
			
		}
	}
}

// ## EDIT ##

.edit-recipe{
	padding-top: 10%;
	background-image: url('/red_onion_parsnip.jpg');
	background-size: cover;

	.recipe-form{
		margin: 0 auto;
		padding: 25px 25px;
		text-align: center;
		width: 800px;
		background: rgba(255,255,255,0.6);
		border-radius: 20px;
		font-family: 'Oswald';

		h1{
			font-size: 30pt;
			color: #6FA60D;
		}

		a{
			color: #DF5E30;
			font-size: 12pt;
		}

		#recipe_avatar{
			margin: 20px auto;
		}

		.field{
			margin-bottom: 15px;

			input{
				width: 300px;
				text-align: center;
				height: 40px;
				font-size: 15pt;
				margin-bottom: 15px;
			}

			label{
				font-size: 12pt;
			}
		}

		.actions{
			input{
				height: 35px;
				width: 100px;
				background: none;
				border: 2px solid #6FA60D;
			}

			input:hover{
				background: #DF5E30;
			}
		}

		textarea{
			width: 500px;
			height: 160px;
		}
	}	
}
